*.a
*.acy
*.atsuo
*.avrsuo
*.aws
*.cfg
*.d
*.dep
*.depend
*.eep
*.elf
*.exe
*.hex
*.i
*.layout
*.log
*.lss
*.lst
*.map
*.mk
*.o
*.obj
*.srec
*.suo
*.sw?
*.sym
*.tmp
*.zip
AvrBuild.bat
AVRootloader.dev
Makefile
.DS_Store
.hg/
.hgignore
.hgtags
